.grid{
	@extend %grid;
}

.grid--wide{
  @extend %grid--wide;
}

.grid--middle{
  @extend %grid--middle;
}

.grid__item{
	@extend %grid__item;
}

.small--one-half{
	@extend %small--one-half;
}

.small--one-third{
  @extend %small--one-third;
}

.medium--two-thirds{
  @extend %medium--two-thirds;
}

.medium--one-third{
  @extend %medium--one-third;
}

.border--small{
  position: relative;
  &:after{
    content: "";
    width: 36px;
    display: block;
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
    border-top: 2px solid $color-brand;

  }
}

.border--small--center{
  &:after{
    margin-left: auto;
    margin-right: auto;
  }
}


.flexslider{
  overflow: hidden;
}